.body
  .body_show
    %br
    %br
    %br
    %br
    - if session[:user] && ((User.first(:username => "#{session[:user]}").titulo_used.class) == String)
      -  @output = show_rss(User.first(:username => "#{session[:user]}").rss_used)
      %h1 #{User.first(:username => "#{session[:user]}").titulo_used}
      - for i in 0..@output.length
        %hr
        %a{href:"#{@output[:link][i]}"} #{@output[:title][i]}
      %hr
    - else
      .carousel_rss
        #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
          / Wrapper for slides
          .carousel-inner
            .center
              .item.active
                .quesomos
                  %h1 ¿Qué somos?
                  %h2 Visual RSS
                  .left
                    %h3 Visual RSS es una página donde poder tener todas tus RSS almacenadas de manera que podrás consultar toda la información de tus principales círculos de manera rápida, sencilla y ordenada, todo en una misma página.
              .item
                %h1 About Us
              .item
                %h1 Contacto
              .item
                %h1 Instrucciones de uso
          / Controls
          %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
            %span.glyphicon.glyphicon-chevron-left
          %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
            %span.glyphicon.glyphicon-chevron-right