.body
  .body_show
    %br
    %br
    %br
    - if session[:user] && ((User.first(:username => "#{session[:user]}").titulo_used.class) == String)
      %select{name: "Mostrar:", onchange: "location = this.options[this.selectedIndex].value;"}
        %option{value: "numero/5"} Número de RSS:
        %option{value: "numero/5"} 5 RSS
        %option{value: "numero/10"} 10 RSS
        %option{value: "numero/15"} 15 RSS
        %option{value: "numero/20"} 20 RSS
        %option{value: "numero/25"} 25 RSS
        %option{value: "numero/30"} 30 RSS
      %br
      - @output = show_rss(User.first(:username => "#{session[:user]}").rss_used, User.first(:username => "#{session[:user]}").num)
      %ol.breadcrumb.two
        %li
          %h1.titulo #{User.first(:username => "#{session[:user]}").titulo_used}
      - for i in 0..@output[:title].length-1
        %ol.breadcrumb
          %li
            %a{href: "#{@output[:link][i]}"} #{@output[:title][i]}

