.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{href: "/"}
        %img{src: "images/Logo.png"}
    - if session[:user]
      .btn-group
        .rss_asociada
          %button.btn.btn-warning.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
            RSS asociadas
            %span.caret
          %ul.dropdown-menu{role: "menu"}
            - @titulos = User.first(:username => "#{session[:user]}").titulo_rss
            - @rsss = User.first(:username => "#{session[:user]}").rss
            - @titulos = @titulos.split("### ")
            - @rsss = @rsss.split(" ")
            - $next = -1
            - p $next
            - p $next.class
            - for i in 0..@titulos.length-1
              %li
                %a{href: '/cambiar', value:"#{i}", onclick:'cambiar(this)'} #{@titulos[i]}
            %hr
            %li
              %a{href: "/new_rss"} Añadir nueva RSS
      .btn-group.pull-right
        %button#dropdownMenu1.btn.btn-success.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          = session[:user]
          %span.caret
        %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
          %li{role: "presentation"}
            %a{href: "/perfil", role: "menuitem", tabindex: "-1"} Perfil
          %li{role: "presentation"}
            %hr
              %a{href: "/logout", role: "menuitem", tabindex: "-1"} Cerrar sesion         
    - else
      .registro
        %a.navbar-brand{href: "/sign_up"} Registro &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        %form.navbar-form.navbar-right{:action=>"/",:method=>"POST", role: "form"}
          .form-group
            %input.form-control{placeholder: "Usuario", type: "text", :name=>"user[username]"}/
          .form-group
            %input.form-control{placeholder: "Password", type: "password", :name=>"user[password]"}/
          %button.btn.btn-success{type: "submit"} Sign in
      / /.navbar-collapse