= haml :comun
= haml :cabecera

.perfil
  %h1 HOLA soy cuerpo
  - if session[:user]
    - @output = show_rss(User.first(:username => "#{session[:user]}").rss)
    - for i in 0.. @output.length
      %a{href:"#{@output[:link][i]}"} #{@output[:title][i]}
      %br
  - else
    %h1 Debe estar registrado para poder acceder al perfil.
    %a{href: "/index"} Volver
