= haml :comun
= haml :cabecera

- if session[:user]
  .body
    %br
    .center
      %form.form-horizontal{:onsubmit => "return test2()", :name => "registro", :method => "POST", :action => "/new_rss"}
        %h2 Eliminar RSS
        - @titulos = User.first(:username => "#{session[:user]}").titulo_rss
        - @titulos = @titulos.split("### ")
        - for i in 0..@titulos.length-1
          %ol.breadcrumb
            %li
              %p #{@titulos[i]} 
              %a{href: "/delete/#{i}"} Eliminar
- else
  - redirect to('/sign_up')

= haml :pie